In [2]:
import pandas as pd
titanic_data = pd.read_csv('titanic.csv')
titanic_data['Age'].fillna(titanic_data['Age'].median(), inplace=True)
titanic_data.drop('Cabin', axis=1, inplace=True)
titanic_data['Embarked'].fillna(titanic_data['Embarked'].mode()[0], inplace=True)
titanic_data['Sex'] = titanic_data['Sex'].astype('category')
titanic_data['Embarked'] = titanic_data['Embarked'].astype('category')
titanic_data['FamilySize'] = titanic_data['SibSp'] + titanic_data['Parch']
bins = [0, 12, 18, 35, 60, 80]

labels = ['Child', 'Teenager', 'Young Adult', 'Adult', 'Senior']

titanic_data['AgeGroup'] = pd.cut(titanic_data['Age'], bins=bins, labels=labels, right=False)
print(titanic_data.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Embarked  FamilySize     AgeGroup
0      0         A/5 21171   7.2500        S           1  Young Adult
1      0          PC 17599  71.2833        C           1        Adult
2      0  STON/O2. 3101282   7.9250        S           0  Young Adult
3      0            113803  53.1000        S           1        Adult
4      0            373450   8.0500        S           0        Adult